footer {
    margin-bottom: 0px !important;
    margin-top: 0px !important;
    background: #444;
    color: #fff;

    .text-muted {
        color: #aaa !important;
    }

    .social {
        font-size: 30px;
        margin-top: 50px;
        i {
            margin-right: 10px;
        }
    }
}