.file-uploader {
  label {
    margin-bottom: 0px;
  }
  background: #eee;display:  block;padding: 20px 0px;
  button {
    margin-bottom: 7px !important;
  }
}
.cover-image {
  background-position: center;
  background-size: cover;
  height: 200px;  
}
.footer {
  padding: 10px;
}
.badge {
  margin: 0px 5px;
  font-weight: normal;
}