<header class="border-bottom">
  <div class="container">
    <div class="header-nav styled d-flex align-items-center">
      <div class="p-2 mr-auto"><h1><a href="" class="logo-text"><span class="green">Green</span><span>Tree</span></a></h1></div>
      <div class="p-2"><a href="">About us</a></div>
      <div class="p-2"><a href="">Contact us</a></div>
      <div class="p-2"><a routerLink="/">Posts Home</a></div>
      <div class="p-2"><a routerLink="post/">Post</a></div>
      <div class="p-2"><a routerLink="admin/login">Login</a></div>
    </div>
  </div>
</header>
